<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/cssbase")
    @RenderSection("css", required: false)
</head>
<body>
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Galleria</a>
			</div>
			<div class="navbar-right">
				@RenderSection("topnav", false)
			</div>
			
		</div>
	</div>

	<div class="container">
		@RenderBody()
	</div>

	@Scripts.Render("~/bundles/sitebase")
	@RenderSection("scripts", required: false)
</body>
</html>
