@model Galleria.ViewModels.EditImageDetailsViewModel

@{ Layout = null;}
    
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editFormLabel">Image details</h3>
</div>
@using (Ajax.BeginForm("Edit", "ImageDetails", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "editComplete" }))
{
    @Html.HiddenFor(a => a.Id);
    <div class="modal-body">
        @Html.LabelFor(a => a.Title)
        @Html.EditorFor(a => a.Title)
        @Html.HiddenFor(a => a.HiddenTags)
        @Html.Label("Tags")
        <div>
            <input type="text" name="tags" placeholder="enter a new tag here" class="tagManager" value=""/>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
}

<script type="text/javascript">
    function editComplete(data)
    {
        //this mapping should take place in the controller
        data.LazyLoadPlaceholderUrl = data.PreviewUrl;
        //find this image in the observable array
        var image = ko.utils.arrayFirst(viewModel.processedImages(), function(currentImage) {
            return currentImage.Id === data.Id;
        });
        viewModel.processedImages.replace(image, data);    
        hideEditDialog();
    }

    $(".tagManager").tagsManager({
        @if (!string.IsNullOrWhiteSpace(Model.ExistingTagsJson)) {
            @:prefilled: @Html.Raw(Model.ExistingTagsJson),
        }
        hiddenTagListName: 'HiddenTags'
    });
</script>
