@model IList<Galleria.ViewModels.ProcessedImageViewModel>

@{
    ViewBag.Title = "Index";
}

@section topnav {
    <ul class="btn-nav pull-right">
        <li><a href="@Url.Action("Upload", "Home")" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i>Add Pictures</a></li>
        <li><a href="@Url.Action("Index", "Slideshow")" class="btn"><i class="glyphicon glyphicon-zoom-in"></i>Slideshow</a></li>
    </ul>
}

<div class="row">
    <ul class="imageList" data-bind="template: { name: 'picture-template', foreach: processedImages }">

    </ul>
    <script type="text/html" id="picture-template">
        <li>
            <div class="imageSurround">
                <img class="lazyImage" data-bind="attr: { src: LazyLoadUrl, 'data-original': PreviewUrl }" />
                <div class="name"><span data-bind="text:Name">&nbsp;</span><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></div>
            </div>
        </li>
    </script>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/homepage")
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Proxy created on the fly          
            var pictureprocesshub = $.connection.pictureProcessHub;

            // Declare a function on the chat hub so the server can invoke it          
            pictureprocesshub.client.pictureprocessed = function (image) {
            	image.LazyLoadUrl = image.PreviewUrl;
                viewModel.processedImages.push(image);
                $("img.lazyImage").lazyload();
            };

            // Start the connection
            $.connection.hub.start();
        

            var viewModel = { processedImages: ko.observableArray([]) }
            ko.applyBindings(viewModel);

            var image = new Object();
            @foreach(var upload in Model)
            {
                @:image = new Object();
                        @:image.Url = '@upload.Url';
                        @:image.PreviewUrl = '@upload.PreviewUrl';
						@:image.LazyLoadUrl = '@Url.Content("~/Content/Images/ImagePlaceholder.png")';
                        @:image.Name = '@upload.Name';

                        @:viewModel.processedImages.push(image);    
                                    
            }

            $("img.lazyImage").lazyload({
                effect: "fadeIn"
            });
        });
    </script>
}
