@model IList<Galleria.ViewModels.ProcessedImageViewModel>

@{
    ViewBag.Title = "Index";
}
<a href="@Url.Action("Upload", "Home")" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>Add Pictures</a>
<a href="@Url.Action("Index", "Slideshow")" class="btn">Slideshow</a>

<div class="row">
    <ul class="imageList" data-bind="template: { name: 'picture-template', foreach: processedImages }">
    </ul>
    <script type="text/html" id="picture-template">
        <li><img class="lazyImage" src="@Url.Content("~/Content/Images/ImagePlaceholder.png")" data-bind="attr: { 'data-original': ThumbnailUrl }" /></li>
    </script>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/homepage")
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Proxy created on the fly          
            var pictureprocesshub = $.connection.pictureProcessHub;

            // Declare a function on the chat hub so the server can invoke it          
            pictureprocesshub.client.pictureprocessed = function (image) {
                viewModel.processedImages.push(image);
                $("img.lazyImage").lazyload();
            };

            // Start the connection
            $.connection.hub.start();
        

            var viewModel = { processedImages: ko.observableArray([]) }
            ko.applyBindings(viewModel);

            var image = new Object();
            @foreach(var upload in Model)
            {
                @:image = new Object();
                        @:image.Url = '@upload.Url';
                        @:image.ThumbnailUrl = '@upload.ThumbnailUrl';
                        @:viewModel.processedImages.push(image);    
                                    
            }

            $("img.lazyImage").lazyload({
                effect: "fadeIn"
            });
        });
    </script>
}
